@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto:wght@300;400&family=Source+Sans+Pro&display=swap");

body {
  background: linear-gradient(236.85deg, #f8a0a0 27.26%, #f67e7d 96.03%);
  font-family: "Roboto", sans-serif;
}

.container {
  background: #feecec;

  margin: 64px;
  border-radius: 40px;
  box-shadow: 6px 6px 6px #0e1d2f;
  padding: 64px;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
}

.perfil {
  display: flex;
}

.perfil-foto {
  border-radius: 460px;
  max-height: 160px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.titulo {
  margin-left: 16px;
}

.titulo h3 {
  font-weight: 400;
  font-size: 24px;
}

.titulo h1 {
  font-weight: 700;
  font-size: 36px;
}

.tema button {
  align-self: flex-end;
  font-size: 24px;
  font-weight: 400;
  padding: 8px 16px;
  background: #ffe2d6;
  border-radius: 100px;
}

.projetos {
  display: flex;
  flex-direction: column;
  background: linear-gradient (230.65dg, #fff1d0 27, 49%, #fbb1b1 83.19%);
  margin-top: 32px;
  padding: 32px;
  box-shadow: 4px 4px 6px rgba(16, 16, 16, 0.42);
  border-radius: 30px;
}

.projetos-titulo {
  list-style: none;
  font-weight: 700;
  font-size: 36px;
}

.projetos-item {
  list-style-type: none;
  font-size: 24px;
  font-weight: 400;
  line-height: 48px;
}

.projetos-item a {
  color: #1c1c1c;
  text-decoration: none;
}

.dark {
  background: linear-gradient(236.85deg, #375b86 27.26%, #6b87a9 96.03%);
}

.dark .container {
  background: #333439;
  color: #f6f6f6;
}

.dark .tema button {
  background: #1c1c1c;
  color: #ffffff;
  border: 2px solid #f7f7f7;
}